@import "@exampledev/new.css";

nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline;
}

nav li + li::before {
  display: inline-block;
  margin: 0 0.25em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
}
